 * {font-family: Arial;text-overflow: ellipsis;}
 .tg  {border-collapse:collapse;border-spacing:0;text-align:center;margin:25px;}
 .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
 .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:bold;;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
 .tg .tg-cly1{text-align:left;vertical-align:middle}
 .tg .tg-a00j{background-color:#67fd9a;text-align:left;vertical-align:middle}
 .tg .tg-1o19{background-color:#67fd9a;text-align:left;vertical-align:top}
 .tg .tg-glna{background-color:#fffe65;text-align:left;vertical-align:top}
 .tg .tg-3soz{background-color:#38fff8;text-align:left;vertical-align:middle}
 .tg .tg-o4lm{background-color:#fffe65;text-align:left;vertical-align:middle}
 .tg .tg-0lax{text-align:left;vertical-align:top}
 .tg .tg-baly{background-color:#fd6864;text-align:left;vertical-align:middle}
 .tg .tg-99c3{background-color:#38fff8;text-align:left;vertical-align:top}
 .tdbold {font: small-caps bold 14px Arial, sans-serif;}
 .tdplain {font: 14px Arial, sans-serif;text-align:left}
 .headings {margin:25px}
 .centerSet {text-align:center;}